


body {
    /* width: 50%; */
    /* margin: 0 auto; */
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
}

h1{
    text-align: center;
}
.container {
    /* width: 360px; */
    display: grid;
    justify-content: center;
    align-content: center;
}

#inputField {
    width: 300px;
    height: 30px;
    color: #fa3939;
    cursor: wait;
    border: 1px solid #0acfdd;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
}
::placeholder {
    color: blue;
    opacity: 0.6;
    text-align: center;
  }

#addDishes button{
    background-color: #0acfdd;
    color: #ffffff;
    height: 35px;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 18px;
}

.dish-styling{
    /* height: 30px; */
    margin: auto;
    /* width: 95%; */
    /* position: relative; */
    /* float: right; */
    cursor: pointer;
    font-size: 20px;
}

.dish-styling li{
    margin-top: 5px;
    height: 30px;
}


.dish-styling button{
    background-color: #fc5f5f;
    float: right;
    color: #ffffff;
    height: 100%;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
}

#test{ 
    /* width: 360px; */
    display: grid;
    justify-content: center;
    align-content: center;
}